:root {
  --ACCENT-CLR: #17374f;
  --HOVER-OVERLAY-CLR: #7676761a;
  --PRIMARY-BACKGROUND-CLR: #0d0d0dee;
  --PRIMARY-FONT-CLR: #acacac;
  --LIGHT-FONT-CLR: #fff;
  --SECONDARY-BTN-HOVER-BACKGROUND-CLR: #17374fa2;
  --QUIZ-GREEN-CLR: #208920;
  --QUIZ-RED-CLR: #d33d3d;
  --POINT-TRACKER-BACKGROUND-CLR: #17374fa2;
  --QUIZ-CARD-OVERLAY-CLR: #000000b8;
  --MODAL-BACKGROUND-CLR: #131313;
  --MODAL-INNER-CONTAINERS-BACKGROUND-CLR: #1f1f1f;
  --MODAL-FONT-CLR: #fff;
  --SHADOW-CLR: #000000;

  --QUIZ-CARD-HEIGHT: 19.65rem;
  --QUIZ-CARD-MIN-WIDTH: 13rem;
  --QUIZ-CARD-MAX-WIDTH: 17rem;
  --QUIZ-ASIDE-RELATIVE-WIDTH: 20vw;
  --QUIZ-ASIDE-ABSOLUTE-WIDTH: 10rem;
  --BORDER-RADIUS: 4px;
  --BTN-PADDING-Y: 10px;
  --BTN-PADDING-X: 18px;
  --HAS-GAP-VALUE: 1rem;
  --HAS-PADDING-VALUE: 1rem;
  --BTN-INPUT-BORDER-WIDTH: 1px;

  --TRANSITION-DURATION: 120ms;
}
