.footer {
  background: var(--ACCENT-CLR);
  font-size: 0.8rem;
  color: var(--LIGHT-FONT-CLR);
  padding-bottom: 1px;
  text-align: center;
}

#social-media-tab li {
  margin: 10px;
}

.social-media-links:hover {
  text-decoration: underline;
}

#portfolio-link {
  margin-top: 20px;
  opacity: 0.6;
  transition: all var(--TRANSITION-DURATION);
}

#portfolio-link:hover {
  opacity: 1;
}
